{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
        <br>
        <br>
        <br>
    <div class="container-fluid  d-flex justify-content-center">
            
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title text-center">Authentication</h4>
                    <form>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Username</label>
                              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-check">
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                          </form>
                </div>
            </div>

    </div>
    <script src="{% static "vendor/js/bootstrap.min.js" %}"></script>
</body>
</html>